/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Colors */
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  font-weight: 400;
  list-style: none;
}
@media (max-width: 800px) {
  body {
    margin-left: 1%;
    margin-right: 1%;
  }
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

h1 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-weight: 600;
  padding: 2rem 0 1rem 0;
}

p {
  font-weight: 300;
}

.function,
.box {
  max-width: 1240px;
  margin: auto;
}

.section__menu {
  max-width: 1240px;
  margin: auto;
}

::-webkit-scrollbar {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Colors */
/* Animation du hover des cards */
@-webkit-keyframes checked {
  0% {
    transform: rotateZ(100deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes checked {
  0% {
    transform: rotateZ(100deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
/* Animation des card */
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* animation du loader */
@-webkit-keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* animation loader */
@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* Animation Coeur  */
@-webkit-keyframes toDown {
  0% {
    opacity: 1;
    background: linear-gradient(to bottom, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
  50% {
    opacity: 0.5;
    background: linear-gradient(to bottom, transparent, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
  100% {
    opacity: 0;
    background: linear-gradient(to bottom, transparent, transparent, transparent);
    -webkit-background-clip: text;
  }
}
@keyframes toDown {
  0% {
    opacity: 1;
    background: linear-gradient(to bottom, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
  50% {
    opacity: 0.5;
    background: linear-gradient(to bottom, transparent, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
  100% {
    opacity: 0;
    background: linear-gradient(to bottom, transparent, transparent, transparent);
    -webkit-background-clip: text;
  }
}
@-webkit-keyframes toUp {
  0% {
    opacity: 0;
    background: linear-gradient(to bottom, transparent, transparent, transparent);
    -webkit-background-clip: text;
  }
  50% {
    opacity: 0.5;
    background: linear-gradient(to bottom, transparent, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
  100% {
    opacity: 1;
    background: linear-gradient(to bottom, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
}
@keyframes toUp {
  0% {
    opacity: 0;
    background: linear-gradient(to bottom, transparent, transparent, transparent);
    -webkit-background-clip: text;
  }
  50% {
    opacity: 0.5;
    background: linear-gradient(to bottom, transparent, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
  100% {
    opacity: 1;
    background: linear-gradient(to bottom, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
}
.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: fixed;
  z-index: 2;
  inset: 0;
  -webkit-animation: loader 4s forwards;
          animation: loader 4s forwards;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #9356DC, #FF79DA);
  margin: 10px;
  -webkit-animation: wave 1s linear infinite;
          animation: wave 1s linear infinite;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: #99E2D0;
}

.wave:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.wave:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.wave:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.wave:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.wave:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.wave:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.wave:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.wave:nth-child(9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.wave:nth-child(10) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

/* Hearder */
header {
  background-color: white;
  font-family: "Shrikhand", cursive;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  padding: 1.3rem;
  position: relative;
  width: 100%;
  margin: 0;
}

.header {
  background-color: white;
  font-family: "Shrikhand", cursive;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  padding: 1.3rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin: 0;
}
.header i {
  color: #000000;
  left: 2em;
  position: absolute;
  top: 2.3em;
  transition: all 0.2s ease-in-out;
}
.header i::after {
  color: #000000;
  content: "Accueil";
  font-family: "Roboto";
  left: 1.5em;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.header i:hover {
  color: black;
  transform: scale(1.1);
}
.header i:hover::after {
  opacity: 1;
  visibility: hidden;
}

/* Location  */
main .locationcity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DCDCDC;
  text-align: center;
  padding: 1.3rem;
  gap: 0.3rem;
}
main .locationcity i {
  font-size: 1.4rem;
}
main .locationcity h2 {
  font-weight: 400;
}

.footer {
  background-color: #353535;
  color: #F1F1F1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1rem;
}
.footer p {
  font-family: "Shrikhand", cursive;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}
@media (max-width: 1000px) {
  .footer ul {
    flex-direction: column;
  }
}

.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.footer__listElt {
  margin: 0.5rem 0;
}

/* Colors */
/* Animation du hover des cards */
@keyframes checked {
  0% {
    transform: rotateZ(100deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
/* Animation des card */
@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* animation du loader */
@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* animation loader */
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* Animation Coeur  */
@keyframes toDown {
  0% {
    opacity: 1;
    background: linear-gradient(to bottom, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
  50% {
    opacity: 0.5;
    background: linear-gradient(to bottom, transparent, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
  100% {
    opacity: 0;
    background: linear-gradient(to bottom, transparent, transparent, transparent);
    -webkit-background-clip: text;
  }
}
@keyframes toUp {
  0% {
    opacity: 0;
    background: linear-gradient(to bottom, transparent, transparent, transparent);
    -webkit-background-clip: text;
  }
  50% {
    opacity: 0.5;
    background: linear-gradient(to bottom, transparent, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
  100% {
    opacity: 1;
    background: linear-gradient(to bottom, #a170dd, #ff8cdf);
    -webkit-background-clip: text;
  }
}
/* Information */
.information {
  text-align: center;
  background-color: #f6f6f6;
  padding: 0rem 0 3rem 0;
}
.information button {
  background-image: linear-gradient(330deg, #9356DC, #FF79DA);
  border-radius: 2rem;
  color: white;
  transition: transform 1.2s;
  padding: 1rem;
  border: transparent;
  margin-top: 2rem;
  box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.24);
}
.information button:hover {
  transform: scale(1.05);
  background-image: linear-gradient(356deg, #a86ee0 0%, #b493de 33%, #ff93e1 100%);
}

/* Function Buttom
  Choice / create / taste  */
.function {
  counter-reset: step;
  padding: 1rem;
}
.function ol {
  display: flex;
  justify-content: space-around;
  gap: 0;
  padding: 0;
  font-size: larger;
}
@media (max-width: 1000px) {
  .function ol {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 0;
  }
}
.function li {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  border-radius: 1rem;
  padding: 1rem;
  flex-grow: 0;
  transition: transform 1.2s;
  box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.24);
}
.function li:hover {
  background-color: #f2eafb;
  transform: scale(1.05);
}
.function li:hover i {
  color: #9356DC;
}
.function li::before {
  content: counter(step);
  counter-increment: step;
  border: solid 1px #9356DC;
  background-color: #9356DC;
  color: #f6f6f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: -1rem;
}
.function i {
  margin-right: 1rem;
  margin-left: 1rem;
  color: grey;
}

.cards {
  background-color: #f6f6f6;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  padding-bottom: 15px;
  justify-content: space-between;
}

.restaurants--title {
  padding-left: 20px;
  padding-top: 25px;
  margin-bottom: 0px;
}

.restaurants--cards {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.4);
  width: 337px;
  height: 220px;
  margin: 15px auto;
  border-radius: 15px;
}

.restaurants--cards:hover {
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.8);
}

.restaurants--cards--name {
  font-weight: bold;
  padding-left: 10px;
  margin: 7px 0px;
  font-size: 18px;
}

.restaurants--cards--city {
  font-size: 16px;
  padding-left: 10px;
  margin: 7px 0px;
}

.photo--cards {
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.photo--cards1 {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.photo--cards2 {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.photo--cards3 {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.photo--cards4 {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.button--new--cards {
  background-color: #99E2D0;
  padding: 5px 10px;
  color: #008766;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  position: relative;
  top: 10px;
  left: 260px;
}

.link--cards {
  text-decoration: none;
  color: #000000;
}

.card-icon-heart {
  position: relative;
  bottom: 45px;
  left: 280px;
  font-size: 25px;
  z-index: 0;
  overflow: hidden;
  color: transparent;
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Animation coeur */
.card-icon-heart > i {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #a170dd, #ff8cdf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: toDown 0.5s forwards;
          animation: toDown 0.5s forwards;
}

.card-icon-heart:hover > i {
  -webkit-animation: toUp 0.5s forwards;
          animation: toUp 0.5s forwards;
}

/* Colors */
.section__introduction {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.section__introduction[data-background="1"] {
  background-image: url(images/rest1.webp);
}
.section__introduction[data-background="2"] {
  background-image: url(images/rest2.webp);
}
@media (max-width: 500px) {
  .section__introduction[data-background="2"] {
    background-size: cover;
  }
}
.section__introduction[data-background="3"] {
  background-image: url(images/rest3.webp);
}
.section__introduction[data-background="4"] {
  background-image: url(images/rest4.webp);
}

.section__menu {
  background-color: #f6f6f6;
  border-radius: 60px 60px 0 0;
  margin-top: -7em;
}
.section__menu-title {
  padding: 1em 0 0 1em;
  position: relative;
  width: 100%;
  font-family: "Shrikhand", cursive;
}
.section__menu-title i {
  bottom: 0.4em;
  color: #000000;
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  right: 2em;
  transition: all 0.4s ease-out;
}
.section__menu-title i:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  color: #ffffff;
  font-weight: 600;
  transform: scale(1.2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__contenaire {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2em 0 2em 0;
}
.section__contenaire-title {
  margin-bottom: -3rem;
  font-weight: 400;
  padding: 0 0 1em 1em;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}
.section__contenaire-title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 2.5em;
  height: 3px;
  border-radius: 2px;
  background-color: #99E2D0;
}
.section__contenaire-card {
  -webkit-animation: show 2s ease-in-out;
          animation: show 2s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  display: flex;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 0;
  width: 90%;
  margin: auto;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.24);
}
.section__contenaire-card:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.section__contenaire-card:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.section__contenaire-card:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.section__contenaire-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section__contenaire-card-title {
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section__contenaire-card-subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section__contenaire-card-price {
  margin-left: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section__contenaire-card-check {
  padding: 2rem;
  background-color: #99E2D0;
  margin-right: -6rem;
  height: 100%;
  transition: margin-right 0.4s ease-in-out;
}
.section__contenaire-card-check i {
  color: white;
  font-size: 30px;
  transition: all 0.4s 0.2s ease-in-out;
}
.section__contenaire-card:hover .section__contenaire-card-check {
  margin-right: 0;
}
.section__contenaire-card:hover i {
  -webkit-animation: checked 1s 1 ease-in-out;
          animation: checked 1s 1 ease-in-out;
}
.section__contenaire-card:hover {
  transform: scale(1.01);
}
.section__contenaire-buy {
  display: flex;
  justify-content: center;
}
.section__contenaire-buy .btn {
  background-image: linear-gradient(330deg, #9356DC, #FF79DA);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  border: transparent;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  transition: transform 1.2s;
  box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.24);
}
.section__contenaire-buy .btn:hover {
  transform: scale(1.05);
  background-image: linear-gradient(356deg, #a86ee0 0%, #b493de 33%, #ff93e1 100%);
}

@media screen and (max-width: 500px) {
  .section__menu-title {
    font-size: 1.4em;
  }
  .section__menu-title i {
    bottom: 0.1em !important;
    right: 1em !important;
  }
}
@media screen and (max-width: 500px) and (max-width: 500px) {
  .section__introduction {
    background-size: contain;
    height: 370px;
  }
}/*# sourceMappingURL=style.css.map */