@import "../Utils/colors";
@import "../Utils/mixin";

.section__introduction {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

  &[data-background="1"] {
    background-image: url(images/rest1.webp);
    
  }
  &[data-background="2"] {
    background-image: url(images/rest2.webp);
    
    @media (max-width: 500px) {
        background-size: cover;
      }
  }
  &[data-background="3"] {
    background-image: url(images/rest3.webp);
   
  }
  &[data-background="4"] {
    background-image: url(images/rest4.webp);
   
  }
}

.section__menu {
  background-color: $bg-grey;
  border-radius: 60px 60px 0 0;
  margin-top: -7em;
  &-title {
    padding: 1em 0 0 1em;
    position: relative;
    width: 100%;
    font-family: "Shrikhand", cursive;
    i {
      bottom: 0.4em;
      color: $font-black;
      cursor: pointer;
      font-size: 35px;
      position: absolute;
      right: 2em;
      transition: all .4s ease-out;

      &:hover {
        background: linear-gradient($primary, $secondary);
        color: $font-white;
        font-weight: 600;
        animation: toUp .5s forwards;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.section__contenaire {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2em 0 2em 0;
  &-title {
    margin-bottom: -3rem;
    font-weight: 400;
    padding: 0 0 1em 1em;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 2.5em;
      
      height: 3px;
      border-radius: 2px;
      background-color: $tertiary;
    }
  }
  &-card {
    animation: show 2s ease-in-out;
    animation-fill-mode: backwards;
    display: flex;
    background-color: $bg-white;
    border-radius: 25px;
    padding: 0;
    width: 90%;
    margin: auto;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    @include baseboxs;
    @for $i from 2 through 4 {
      &:nth-child(#{$i + 1}) {
        animation-delay: 0.2s * $i;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &-title {
      padding: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &-subtitle {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &-price {
      margin-left: auto;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &-check {
      padding: 2rem;
      background-color: $tertiary;
      margin-right: -6rem;
      height: 100%;
      transition: margin-right 0.4s ease-in-out;
      i {
        color: white;
        font-size: 30px;
        transition: all 0.4s 0.2s ease-in-out;
      }
    }
    &:hover {
      .section__contenaire-card-check {
        margin-right: 0;
      }
      i {
        animation: checked 1s 1 ease-in-out;
      }
    }

    &:hover {
      transform: scale(1.01);
    }
  }
  &-buy {
    display: flex;
    justify-content: center;
    .btn {
      @include btn;
    }
  }
}

@media screen and (max-width: 500px) {
  .section__menu {
    &-title {
      font-size: 1.4em;

      i {
        bottom: 0.1em !important;
        right: 1em !important;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .section__introduction{
      background-size: contain;
      height: 370px;
    }
    
  }
}



